


<div class="card" style="width: 30rem;">
    <div class="card-body" style="text-align: center;">

      <h2>Add New sProgram</h2>
      <form [formGroup]="OwnerForm" (ngSubmit)="onFormSubmit(OwnerForm)"> 
        
          <div class="input-group mb-3">  
            <input type="text" class="form-control" placeholder="Program_ID"  formControlName="Program_ID" disabled >  
          </div> 
          <div class="input-group mb-3">  
            <input type="text" class="form-control" placeholder="Coach_ID"  formControlName="Coach_ID" required>  
          </div>  
          <div class="input-group mb-3">  
            <input type="text" class="form-control" placeholder="Name"  formControlName="Name" required>  
          </div>
          <div class="input-group mb-3">  
            <input type="text" class="form-control" placeholder="Description"  formControlName="Description" required>  
          </div>

          <button type="submit" class="btn btn-block btn-success">Create Coach</button>
          <button (click) = "CreateOwner" class = "btn btn-block btn-primary" >Back to List</button> 
      </form> 
    </div>
  </div>

     <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Help
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Athletics Ranking System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h1>Contact Us</h1>

      <h2>
         TuksAthletics Coach: Danie </h2>
        <h2> Email Address: mxg123@tuks.up.za </h2>
        <h2> Phone Number: +27766801987</h2>

       <h1> Need Assistance? </h1>

       <h2>How to register? <a href="http://localhost:4200/help"> Register</a> 
      </h2> 

  