<h2 style="text-align: center;">Performances</h2>

  
<div class="container">
    <div class="text-right">
        <div class="text-right">
            <button id="Create" type="submit" class="btn btn-primary" routerLink="/competition">
                Back to Competitions
            </button>
        </div><br>     
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Competition</th>
                    <th>Athlete</th>
                    <th>Event</th>
                    <th>Age Group</th>
                    <th>Date</th>
                    <th>Result</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let nperf of performances; let i = index">
                    <ng-container *ngFor="let event of events">
                        <ng-container *ngIf="nperf.Event_ID == event.Event_ID">
                            <ng-container *ngFor="let ath of athletes">
                                <ng-container *ngIf="nperf.Athlete_ID == ath.Athlete_ID">
                                    <ng-container *ngFor="let comp of competitions">
                                        <ng-container *ngIf="nperf.Competition_ID == comp.Competition_ID">                                     
                                            <td>{{ comp.Name }}</td>
                                            <td>{{ ath.Name }}</td>
                                            <td>{{ event.Description }}</td>
                                            <td>U18</td>
                                            <td>{{ nperf.Date.substring(0,10) }}</td>
                                            <td>{{ nperf.Result }}</td>
                                            <td style="text-align: center;">
                                                <button type="button" class="btn btn-info" (click)="onEdit(nperf.Performance_ID)" disabled>
                                                    Edit
                                                </button>           
                                            </td>
                                            <td style="text-align: center;">
                                                <button type="button" class="btn btn-danger" (click)="onDelete(nperf.Performance_ID)" disabled>
                                                    Delete
                                                </button>                        
                                            </td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </tbody>        
        </table>
    </div>
</div>