<center>
    <div class="card" style="width: 30rem;">
        <div class="card-body" style="text-align: center;">
            <h3 class="card-title">Edit Vanue</h3>
            <form [formGroup]="VenueForm" (ngSubmit)="onFormSubmit(VenueForm)">
                <div class="input-group mb-3">  
                    <input type="text" class="form-control" placeholder="Venue ID"  formControlName="id" disabled>  
                </div>
                <div class="input-group mb-3">  
                    <input type="text" class="form-control" placeholder="Venue Name"  formControlName="name">  
                </div> 
                <div class="input-group mb-3">  
                    <input type="text" class="form-control" placeholder="Capacity"  formControlName="capacity">  
                </div>

                <select class="custom-select"  formControlName='district'>
                    <option value="" disabled>District</option>
                    <option *ngFor="let ndist of districts" value={{ndist.District_ID}}>
                        {{ndist.Name}} 
                    </option>
                </select><br><br>

                <button type="submit" class="btn btn-block btn-success">Edit Venue</button>
                <button class = "btn btn-block btn-primary" routerLink="/venue" >Cancel</button>
            </form> 
        </div>
    </div>
</center>