<center>    
    <div class="card" style="width: 30rem;">
        <div class="card-body" style="text-align: center;">
            <h2 class="card-title">Backup</h2><br>            
            <button class="btn btn-success" (click)="backup()" style="width: 150px;">Create Backup</button>
            <button class="btn btn-primary" (click)="restore()" style="margin-left: 15%; width: 150px;">Restore Backup</button><br><br> 
            <button class="btn btn-warning" routerLink="/admin" style="margin-left: 50%; width: 150px;">Back to Admin</button><br><br>
            <alert></alert>           
        </div>
    </div>
</center>