<center>
    <div class="card" style="width: 30rem;">
        <div class="card-body" style="text-align: center;">
            <h3 class="card-title">Edit League</h3>
            <form [formGroup]="LeagueForm" (ngSubmit)="onFormSubmit(LeagueForm)">
                <div class="input-group mb-3">  
                    <input type="text" class="form-control" placeholder="League ID"  formControlName="id" disabled>  
                </div>
                <div class="input-group mb-3">  
                    <input type="text" class="form-control" placeholder="League Name"  formControlName="name">  
                </div> 
                <select class="custom-select"  formControlName='tier'>
                    <option value="" disabled>Tier</option>
                    <option *ngFor="let ntier of tiers" [ngValue]="ntier">
                        {{ntier}} 
                    </option>
                </select><br><br>

                <button type="submit" class="btn btn-block btn-success">Edit League</button>
                <button class = "btn btn-block btn-primary" routerLink="/league" >Cancel</button>
            </form> 
        </div>
    </div>
</center>