<img src="../../assets/TuksAthletics.jpg">

<p style="text-align: center;">
  Watch Descriptive video below
</p>

<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4"></h2>
        <p class="text-white-50">
            THE TUKS ATHLETCS RANKING SYSTEM
        </p>
        <div class="icon-box icon-box-green" style="text-align: center;">
          <video width="600" height="600" controls>
            <source src="../../assets/video.mp4" type="video/mp4">                 
            Your browser does not support HTML video.
          </video>
        </div>
      </div>
    </div>          
  </div>
</section>